<ion-header>
  <ion-toolbar>
    <ion-title>Citoyen</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
</ion-content>