<ion-header>
  <ion-toolbar>
    <ion-title>Secteur</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
    <ion-title>Secteur</ion-title>

    <div class="col-12 col-md-6 order-md-1 order-last">
      <h3>Add Secteur</h3>
      <p class="text-subtitle text-muted">Secteur adding</p>
    </div>
    <section id="multiple-column-form">
      <div class="row match-height">
        <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"></h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                 <form class="form" method="post" action="add.jsp">
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="last-name-column">Nom secteur</label> <input
                          type="text" id="nom_secteur" class="form-control"
                          placeholder="Nom du secteur" name="nom_secteur">
                        
                      </div>
                    </div>
                    
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="last-name-column">id departement</label> <input
                          type="number" id="id_secteur" min="1" max="10" class="form-control"
                          placeholder="id du departement" name="id_departement">
                        
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                      <button type="reset"
                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                    </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    
    
</ion-content> 