<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/listing-denree-dept"></ion-back-button>
      <ion-label>Transfert denrées secteurs</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{idDenree}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Secteur</ion-label>
      <ion-select value="secteur.id" [(ngModel)]="idSecteur">
        <div *ngFor="let secteur of secteurs">
          <ion-select-option>{{secteur.nom}}</ion-select-option>
        </div>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Quantité</ion-label>
    <ion-input value="0" type="number" [(ngModel)]="quantite"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="secondary" (click)="submit()">Envoyer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
