<ion-header>
  <ion-buttons>
    <ion-back-button defaultHref="/listing-denrees-secteur"></ion-back-button>
    <ion-label>Transfert denrées ménage</ion-label>
  </ion-buttons>
</ion-header>

<ion-content> <br>
  <ion-item>
    <ion-label>{{idDenree}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Menage</ion-label>
      <ion-select value="menage.id" [(ngModel)]="idMenage">
        <div *ngFor="let menage of menages">
          <ion-select-option>{{menage.nom}}</ion-select-option>
        </div>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Quantité</ion-label>
    <ion-input value="0" type="number" [(ngModel)]="quantite"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="secondary" (click)="submit()">Envoyer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

