<ion-header>
  <ion-toolbar>
    <ion-title>Departement</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
    <ion-title>Departement</ion-title>
    <div class="col-12 col-md-6 order-md-1 order-last">
      <h3>Add Departement</h3>
      <p class="text-subtitle text-muted">Departement adding</p>
    </div>
    <section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form">
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="last-name-column">Nom</label> <input
                      type="text" id="nom" class="form-control"
                      placeholder="Nom du departement" name="nom_departement">
                    
                  </div>
                </div>
                
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="last-name-column">id_region</label> <input
                      type="number" id="id_region" min="1" max="10" class="form-control"
                      placeholder="id_region" name="id_region">
                    
                  </div>
                </div>


                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                  <button type="reset"
                    class="btn btn-light-secondary me-1 mb-1">Reset</button>
                </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    
</ion-content>