<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/routes-denrees"></ion-back-button>
      <ion-label>Denrées {{region}}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Rechercher..."></ion-searchbar>
  <div>
    <ion-row>
      <ion-col>Denree</ion-col>
      <ion-col>Quantité</ion-col>
      <ion-col>Catégorie</ion-col>
      <ion-col>Actions</ion-col>
    </ion-row>
  </div>
  <div *ngFor="let data of datas">
    <ion-row>
      <ion-col>{{data.nom}}</ion-col>
      <ion-col>{{data.quantite}}</ion-col>
      <ion-col>{{data.categorie}}</ion-col>
      <ion-col>
        <div class="dropdown">
          <ion-label>plus..</ion-label>
          <div class="dropdown-content"> <br>
            <div  (click)="details('<strong>Id:</strong> '+data.id+'<br>
              <strong> Nom:</strong> '+data.nom+'<br>
              <strong> Quantité:</strong> '+data.quantite+'<br>
              <strong> Categorie:</strong> '+data.categorie+'<br>
              <br>')">
              <ion-icon name="eye-outline"></ion-icon>
              <ion-label>details</ion-label>
            </div> <br>

            <div routerLink="/transfert-dept/{{data.id}}">
              <ion-icon name="arrow-redo-outline"></ion-icon>
              <ion-label>Tranferer</ion-label>
            </div> <br>
            <div (click)="supprimer(data.id)">
              <ion-icon name="trash-outline"></ion-icon>
              <ion-label>Spprimer</ion-label>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
