<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/liste-denrees"></ion-back-button>
      <ion-label>Novelle denrée</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> <br>
  <ion-item>
    <ion-label>Nom de la denrée</ion-label> <br>
    <ion-input placeholder="Nom denrée" type="text" [(ngModel)]="nomDenree"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Quantité</ion-label>
    <ion-input value="0" type="number" [(ngModel)]="quantite"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categorie</ion-label>
    <ion-select [(ngModel)]="categorie">
      <ion-select-option value="litres">Litres</ion-select-option>
      <ion-select-option value="kg">Kg</ion-select-option>
      <ion-select-option value="morceaux">Morceaux</ion-select-option>
      <ion-select-option value="cartons">Cartons</ion-select-option>
      <ion-select-option value="bouteilles">Bouteilles</ion-select-option>
      <ion-select-option value="boites">Boites</ion-select-option>
      <ion-select-option value="sac_50Kg">Sac de 50kg</ion-select-option>
      <ion-select-option value="sac_25Kg">Sac de 25kg</ion-select-option>
      <ion-select-option value="autre">Autre</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="categorie == 'autre'">
    <ion-input placeholder="nom categorie" value="" type="text" [(ngModel)]="categorie1"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="success" (click)="submit()">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">UDs_IN3 2021</ion-title>
  </ion-toolbar>
</ion-footer>
