<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-label>routes-denrees</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label class="center" routerLink="/liste-denrees-pays">Denrées pays</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="center" routerLink="/listing-denree-region">Denrées region</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="center" routerLink="/listing-denree-dept">Denrées département</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="center" routerLink="/listing-denrees-secteur">Denrées secteur</ion-label>
  </ion-item>

</ion-content>
