<ion-header>
  <ion-toolbar>
    <ion-title>Region</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
    <ion-title>Region</ion-title>

    <section id="multiple-column-form">
      <div class="row match-height">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"></h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <form class="form">
                Ajouter une region
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="region">Selectionner la region a ajouter</label><br />
                        <select name="nom_region" id="region">
                        <option value="Adamaoua">Adamaoua</option>
                        <option value="Est">Est</option>
                        <option value="Extreme-Nord">Extreme-Nord</option>
                        <option value="Nord">Nord</option>
                        <option value="Nord-Ouest">Nord-Ouest</option>
                        <option value="Nord-Est">Nord-Est</option>
                        <option value="Ouest">Ouest</option>
                        <option value="Sud">Sud</option>
                        <option value="sud-Ouest">Sud-Ouest</option>
                        <option value="Sud-Est">Sud-Est</option>
                        </select>
                      </div>
                    </div>
                    

                    <div class="col-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                      <button type="reset"
                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                    </div>
                </form>
                
                  <form method="post" action="add.jsp">
                      supprimer une region
                      <div class="col-md-6 col-12">
                        <div class="form-group">
                          <label for="region">Selectionner la region a supprimer</label><br />
                          <select name="nom_region_sup" id="region">
                            <option value="Adamaoua">Adamaoua</option>
                            <option value="Est">Est</option>
                            <option value="Extreme-Nord">Extreme-Nord</option>
                            <option value="Nord">Nord</option>
                            <option value="Nord-Ouest">Nord-Ouest</option>
                            <option value="Nord-Est">Nord-Est</option>
                            <option value="Ouest">Ouest</option>
                            <option value="Sud">Sud</option>
                            <option value="sud-Ouest">Sud-Ouest</option>
                            <option value="Sud-Est">Sud-Est</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                      <button type="reset"
                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                      </div>
                    </form>
                    
              </div>
              </div>
            </div>
          </div>
        </div>
        </section>
    
</ion-content>