<ion-header>
  <ion-toolbar>
    <ion-title>Information sur un  Citoyen</ion-title>

     <!-- boutton de retour -->
     <ion-back-button slot="start">Back</ion-back-button>

    </ion-toolbar>
  </ion-header>

<ion-content>
    <!-- Content -->
    single citoyen here
</ion-content>