<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-app>
  <ion-menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <!--     routerDirection="root"
             [routerLink]="nav.link"
             [class.active-menu]="active === nav.link" -->

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let nav of NAV">
          <ion-item
          lines="none"
          routerDirection="root"
          [routerLink]="nav.link"
          [class.active-menu]="active === nav.link">
             <ion-icon slot="start" [ios]="nav.icon + '-outline'" [md]="nav.icon + '-sharp'"></ion-icon>
               {{nav.name}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>

</ion-app>
