<ion-header>
  <ion-toolbar>
    <ion-title>List des Citoyens</ion-title>

     <!-- boutton de retour -->
     <ion-back-button slot="start">Back</ion-back-button>

    </ion-toolbar>
  </ion-header>

<ion-content>
    <!-- Content -->
    <div *ngFor="let item of list">
      
      <ion-item routerLink="single" detail>
        <ion-avatar slot="start">
            <img src="assets/maestros.jpg" alt="Avatar">
        </ion-avatar>
        <ion-label>
            <div class="flex_box">
                  <h3>{{item.login}}</h3>
            </div>
          <p>est contamine: {{ item.est_contamine}}</p>    </ion-label>
      </ion-item>
  
  </div>
</ion-content>