<ion-header>
  <ion-toolbar>
    <ion-title>Citoyen</ion-title>

    <!-- boutton de retour -->
    <ion-back-button slot="start">Back</ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>                                                  
              <h3>Ajouter un Citoyen!</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input  name="name" type="text" placeholder="Nom" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input  name="prenom" type="text" placeholder="Prenom" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input  name="prenom" type="text" placeholder="Prenom" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="login" type="text" placeholder="Login" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Mot de passe" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Confirmez le mot de passe" ngModel required></ion-input>
              </ion-item>
             
              <ion-item>
                <ion-input  name="date_naissance" type="date" placeholder="Votre date de naissance" ngModel required></ion-input>
              </ion-item>
    
              <!-- les bouttons radio -->
                <ion-list radio-group>
                    <ion-item>
                      <ion-label>Masculin</ion-label>
                      <ion-radio value="masculin" checked></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>Féminin</ion-label>
                      <ion-radio value="feminin"></ion-radio>
                    </ion-item>
                </ion-list>
              <ion-item>
                <ion-label id="profile_image" color="primary" stacked>Image</ion-label>
                <ion-input type="file" accept="image/*" id="upload"></ion-input>
                <!-- <ion-input type="file" accept="image/*" id="upload" [(ngModel)]="imageFilePath" (ionChange)="imageFilePath_change($event)"></ion-input> -->
              </ion-item>  
              <ion-item>
                <ion-input name="profession" type="text" placeholder="Profession" ngModel required></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-input name="est_constamine" type="text" placeholder="Est contamine" ngModel required></ion-input>
              </ion-item>
    
            </div>
            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Enregistrer</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    
</ion-content>