<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
   
    <br>
    <br>
    <br>

    <ion-content class="auth-form">
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button [routerLink]="['/citoyen/form-add']" expand="block" color="primary">Register</ion-button>
            <br>
            <span class="divider line one-line center" style="align-self: center;">or</span>
            <ion-item-divider></ion-item-divider>
            <br>
    
            <span class="already">Already a user?</span>

            <br>
            <br>
    
            <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    
</ion-content>