<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/liste-denrees-pays"></ion-back-button>
      <ion-label>Transfert de denrées</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> <br>
  <ion-item>
    <ion-label>{{idDenree}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Region</ion-label>
      <ion-select value="region.id" [(ngModel)]="idRegion">
        <div *ngFor="let region of regions">
          <ion-select-option>{{region.nom}}</ion-select-option>
        </div>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Quantité</ion-label>
    <ion-input value="0" type="number" [(ngModel)]="quantite"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="secondary" (click)="submit()">Envoyer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
