<ion-header>
  <ion-toolbar>
    <ion-title>Citoyen</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
    <ion-list>
      
        <ion-item detail routerLink="form-add"><ion-icon name="person-add-outline"></ion-icon>Ajouter un citoyen</ion-item>
        <ion-item detail routerLink="data-liting"><ion-icon name="list-circle-outline"></ion-icon>Lister lensemble des citoyen</ion-item>
    </ion-list>
</ion-content>